<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.dflow.mapper.NodeInfoMapper" >

    <sql id="nodeInfoColumns">
        id,processDefinitionId,nodeId,nodeType,nodeName,outGoingId,outGoingName,outGoingCondition,outGoingNodeId
        ,outGoingNodeType,outGoingNodeName,outGoingNodeUser,isSub,formKey
    </sql>

    <select id="getStartFormKey"  resultType="java.lang.String">
        SELECT formKey FROM tb_nodeinfo WHERE processDefinitionId = #{0} AND nodeType='startEvent'
    </select>

    <select id="getAllFormKey"  resultType="java.lang.String">
        SELECT formKey FROM tb_nodeinfo WHERE processDefinitionId = #{0} AND nodeType='process'
    </select>

    <select id="getStartUser" resultType="java.lang.String">
        SELECT  outGoingNodeUser FROM tb_nodeinfo WHERE processDefinitionId = #{0} AND nodeType='startEvent' AND outGoingNodeUser != NULL
    </select>

    <select id="getNextUser" resultType="java.lang.String">
        SELECT outGoingNodeUser FROM tb_nodeinfo WHERE processDefinitionId = #{0} AND nodeId = #{1} AND outGoingNodeUser != NULL
    </select>

    <delete id="delete">
        DELETE FROM tb_nodeinfo WHERE processDefinitionId = #{processDefinitionId}
    </delete>

    <insert id="insertbatch" parameterType="java.util.List">
        <selectKey keyProperty="fetchTime" order="BEFORE" resultType="java.lang.String">
            SELECT CURRENT_TIMESTAMP()
        </selectKey>
        insert into tb_nodeinfo (
        id,
        processDefinitionId,
        nodeId,
        nodeType,
        nodeName,
        outGoingId,
        outGoingName,
        outGoingCondition,
        outGoingNodeId,
        outGoingNodeType,
        outGoingNodeName,
        outGoingNodeUser,
        isSub,
        formKey
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.processDefinitionId},
            #{item.nodeId},
            #{item.nodeType},
            #{item.nodeName},
            #{item.outGoingId},
            #{item.outGoingName},
            #{item.outGoingCondition},
            #{item.outGoingNodeId},
            #{item.outGoingNodeType},
            #{item.outGoingNodeName},
            #{item.outGoingNodeUser},
            #{item.isSub},
            #{item.formKey}
            )
        </foreach>
    </insert>
</mapper>